@font-face {
    font-family: 'FuturaBook';
    src: url('../fonts/Futura/Futura_Book-Bold.eot');
    src: url('../fonts/Futura/Futura_Book-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura/Futura_Book-Bold.woff2') format('woff2'),
        url('../fonts/Futura/Futura_Book-Bold.woff') format('woff'),
        url('../fonts/Futura/Futura_Book-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/Futura/FuturaBookC.eot');
    src: url('../fonts/Futura/FuturaBookC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura/FuturaBookC.woff2') format('woff2'),
        url('../fonts/Futura/FuturaBookC.woff') format('woff'),
        url('../fonts/Futura/FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}