#footer-socials {
    position: fixed;
    height: auto;
    display: block;
    width: auto;
    z-index: 9;
    text-align: center;
    left: 160px;
    bottom: 2.4vw;
    @media (max-width: 1900px) {
        bottom: 25px;
        left: 115px;
    }
    @media (max-width: 992px) {
        display: none !important;
    }
    a {
        display: block;
        margin-right: 136px;
        @media (max-width: 1900px) {
            margin-right: 85px;
        }
        @media (max-width: 992px) {
            margin-right: 140px;
        }
        @media (max-width: 640px) {
            margin-right: 25%;
        }
        &:nth-child(1) {
            width: 27px;
            height: 16px;
            display: block;
            @media (max-width: 992px) {
                width: 30px;
                height: 19px;
            }
        }
        &:nth-child(2) {
            width: 23px;
            height: 20px;
            display: block;
            @media (max-width: 992px) {
                width: 30px;
                height: 26px;
            }
        }
        &:nth-child(3) {
            width: 21px;
            height: 21px;

            @media (max-width: 992px) {
                margin-right: 0;
                width: 28px;
                height: 28px;
            }
        }
    }
}
#footer-callback {
    position: fixed;
    display: block;
    width: 58px;
    height: 58px;
    right: 150px;
    z-index: 9;
    color: #f2f2f2;
    bottom: 2.2vw;
    @media (max-width: 1900px) {
        bottom: 25px;
        right: 115px;
        width: 40px;
        height: 40px;
    }
    @media (max-width: 992px) {
        display: none;
    }
}
.mouse {
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-radius: 25px;
    display: block;
    height: 40px;
    width: 25px;
    z-index: 9;
    @media (max-width: 992px) {
        display: none;
    }
    span {
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: scroll;
        background: none repeat scroll 0 0 #ffffff;
        border: 1px solid transparent;
        border-radius: 4px;
        display: block;
        height: 4px;
        margin: 6px auto;
        width: 4px;
    }
    @keyframes scroll {
        0% {
            opacity: 1;
            transform: translateY(0px);
        }
        100% {
            opacity: 0;
            transform: translateY(20px);
        }
    }
}
