// Forms
.modal-logo {
	position: absolute;
	top: 15px;
	left: 40px;
	max-width: 230px;
	@media (max-width: 650px) {
		top: 40px;
		left: 20px;
		max-width: 264px;
	}
	@media (max-width: 450px) {
		top: 15px;
		left: 20px;
		max-width: 90px;
	}
}
.close-modal {
	position: absolute;
	width: 39px;
	height: 39px;
	background: url(../images/close.svg) no-repeat;
	right: 35px;
	top: 20px;
	@media (max-width: 1400px) {
		width: 20px;
		height: 20px;
		right: 20px;
	}
	@media (max-width: 640px) {
	    width: 20px;
	    height: 20px;
	    right: 27px;
	    z-index: 9;
	    top: 18px;
	}
}
.confirm-image {
	width: 171px;
	height: 171px;
	border: 2px solid $white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 75px;
	@media (max-width: 1400px) {
		margin: 0 auto 35px;
		width: 100px;
		height: 100px;
	}
	img {
		width: 91px;
		height: 67px;
		@media (max-width: 1400px) {
			width: 80px;
			height: 50px;
		}
	}
}
.modal {
	.modal-dialog {
		max-width: 720px;
		width: 100%;
		height: 100%;
		@media (max-width: 1600px) {
			max-width: 540px;
			height: auto;
		}
		@media (max-width: 640px) {
			max-width: 300px;
			margin: 0 auto;
		}
		.modal-content {
			min-height: 920px;
			background: rgb(161, 196, 56);
			opacity: 1;
		    border: 3px solid #fff;
		    border-radius: 0;
		    outline: 0;
			@media (max-width: 1600px) {
				min-height: auto;
			}
			.modal-header {
				padding-top: 90px;
				border: 0;
				@media (max-width: 1600px) {
					padding-top: 30px;
				}
				.page-title {
					width: 100%;
					margin: 0 auto 90px;
					color: $white;
					font-size: 36px;
					font-weight: bold;
					@media (max-width: 1600px) {
						margin: 0 auto 45px;
					}
					@media (max-width: 450px) {
						margin: 0 auto 15px;
    					font-size: 22px;
					}
					    
				}
			}
			.modal-body {
				.form-group {
					max-width: 308px;
					width: 100%;
					margin: 0 auto 25px;
					@media (max-width: 1600px) {
						margin: 0 auto 15px;	
					}
					@media (max-width: 450px) {
						margin: 0;	
					} 
					input {
						max-width: 308px;
						height: 45px;
						flex-shrink: 0;
						border: 1px solid transparent;
						border-radius: 0;
						font-size: 18px;
						color: #333;
						border-radius: 3px;
						@media (max-width: 450px) {
							max-width: 215px;
							padding-left: 15px;
							margin: 0 auto 15px;
						}
						&:focus {
							outline: none;
							box-shadow: none;
							-webkit-appearance: none;
						}
					}
				}
				p {
					font-size: 16px;
					color: $white;
					margin: 35px 0 45px;
					@media (max-width: 640px) {
						font-size: 12px;
						margin: 15px auto 20px;
					}
					a {
						color: $white;
						text-decoration: underline;
					}
					
				}
			}
		}
	}
	.big-link {
		color: $white;
		border: 3px solid $white;
		background: transparent;
		cursor: pointer;
		margin: 0 auto 35px !important;
		@media (max-width: 450px) {
			margin: 0 auto 15px !important;
		}
		&:hover {
			color: $white;
			background: transparent;
		}
	}
}

#choose-plan {
	.modal-dialog {
		max-width: 1200px;
		width: 100%;
		height: 100%;
		@media (max-width: 992px) {
			max-width: 600px;
		}
		.modal-content {
			min-height: 700px;
			background: url(../images/modal-bg.png) no-repeat;
			background-size: 100% 100%;
			@media (max-width: 640px) {
				max-width: 400px;
				min-height: auto;
				padding-bottom: 30px;
			}
			.page-title {
				max-width: 970px;
				width: 100%;
				margin: 0 auto 70px;
				@media (max-width: 992px) {
					text-align: center;
					b {
						text-align: center !important;
					}
				}
			}
			.modal-header {
				border: 0;
				img {
					margin-right: 150px;
					margin-top: 40px;
					@media (max-width: 992px) {
						margin-right: 0;
						max-width: 150px;
						margin-top: 20px;
					}
				}
			}
			.modal-body {
				.choose-plan {
					max-width: 425px;
					@media (max-width: 992px) {
						max-width: 45%;
					}
					h2 {
						font-size: 40px;
						margin-bottom: 40px;
						@media (max-width: 992px) {
							font-size: 28px;
							margin-bottom: 20px
						}
					}
					p {
						font-size: 19px;
						line-height: 30px;
						color: #000;
						font-family: Roboto;
						font-weight: 300;
						margin-bottom: 80px;
						text-align: left;
						@media (max-width: 992px) {
							text-align: center;
						}
					}
					.big-link {
						@media (max-width: 992px) {
						    width: 210px;
						    height: 55px;
						    letter-spacing: 3px;
						}
						@media (max-width: 640px) {
						    width: 150px;
							height: 40px;
							letter-spacing: 1px;
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
.modal {
	background-color: rgba(161, 196, 56,0.86);
}
#modal-confirm {
	.modal-content {
		border: 0;
	}
}